.delete_popup {
  position: fixed;
  top: 15%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.delete_popup_background {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 40, 40);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.delete_popup_content {
  margin-bottom: 20px;
  font-size: 32px;
}