.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./logo.svg'); /* Путь к вашему изображению */
    background-size: cover; /* Охватывает весь контейнер */
    background-repeat: no-repeat; /* Избегает повторения изображения */
    background-position: center; /* Центрирует изображение */
    animation: spin 10s linear infinite; /* Анимация вращения */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}